
<h2>Histogram Generator</h2><br><br>





<div>
  <table style="float: left" ><tr>
      <td width=15%> <font color = white>hey</color></td></tr>
    </table>

      <table  style="float: left ; background-color:#CCCCFF" frame = "box"  >
        <tr>
      <td colspan=4 align=left height = 30>

              <h4><font color=#CCCCFF>aaa</font><font color=red bold>Lower Bounds
        </tr>
                      <tr>
                    <td width=50 ></td>
                    <td width=10 height = 50><p>Max</td>
                      <td>


                            <input id="numb" value="hello">




                        </td>
                        <td width=100></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                    <td width=10><p>Max</td>
                        <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                          <td width=10><p>Max</td>
                          <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                        <td width=10><p>Max</td>
                          <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                          <td width=10><p>Max</td>
                          <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                        <td width=10><p>Max</td>
                          <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                        <td width=10><p>Max</td>
                          <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                      <td width=10><p>Max</td>
                        <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                      <td width=10><p>Max</td>
                        <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                      <td width=10><p>Max</td>
                      <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                      <td width=10><p>Max</td>
                        <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td width=50></td>
                    <td width=100><p>Max</p></td>
                          <td height = 50>
                          <input id="numb">
                        </td>
                        <td width=80></td>
                      </tr>
                      <tr>
                    <td colspan=4 align=center height=80>

                            <button type="button" onclick="myFunction()">Submit</button></div>
                            </td>
                      </tr>

      </table>
  <table style="float: left" ><tr>
            <td width=15%> <font color = white>hey</color></td></tr>
    </table>
  <table    style="float: left ; background-color:#CCCCFF" frame = "box" >
    <tr>
  <td colspan=4 align=left height = 30>

          <h4><font color=#CCCCFF>aa</font><font color=red bold>Histogram
    </tr>
              <tr>
                <td width=50></td>
                    <td WIDTH=80 ><p>A+</p>
                    </td>
                    <td height=30><p id="A+" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                    <td width=50></td>
                    <td WIDTH=80><p>A</p>
                    </td>
                    <td height=30><p id="A" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                    <td width=50></td>
                    <td WIDTH=80><p>A-</p>
                    </td>
                    <td height=30><p id="A-" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                    <td width=50></td>
                    <td WIDTH=80><p>B+</p>
                    </td>
                    <td height=30><p id="B+" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                    <td width=50></td>
                    <td WIDTH=80><p>B</p>
                    </td>
                    <td height=30><p id="B" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                    <td width=50></td>
                    <td WIDTH=80><p>B-</p>
                    </td>
                    <td height=30><p id="B-" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                    <td width=50></td>
                    <td WIDTH=80><p>C+</p>
                    </td>
                    <td height=30><p id="C+" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                    <td width=50></td>
                    <td WIDTH=80><p>C</p>
                    </td>
                    <td height=30><p id="C" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                    <td width=50></td>
                    <td WIDTH=80><p>C-</p>
                    </td>
                    <td height=30><p id="C-" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                <td width=50></td>
                    <td WIDTH=80><p>D</p>
                    </td>
                    <td height=30><p id="D" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>
              <tr>
                <td width=50></td>
                    <td WIDTH=80><p>F</p>
                    </td>
                    <td height=30><p id="F" align=center > A</p>
                    </td>
                    <td width=100></td>
              </tr>

  </table>

</div>



<script>
function myFunction() {
    var x, text,i,a_1=0,a_2=0,a_3=0,b_1=0,b_2=0,b_3=0,c_1=0,c_2=0,c_3=0,d=0,f=0;
    var grades = [65.95 , 56.98 , 78.62 , 96.1, 90.3 , 72.24, 92.34, 60.00, 81.43, 86.22, 88.33,9.03,49.93, 52.34, 53.11, 50.10
, 88.88 , 55.32, 55.69, 61.68,70.44, 70.54 ,90.0, 71.11, 80.01];

    // Get the value of the input field with id="numb"
    x = document.getElementById("numb").value;

    // If x is Not a Number or less than one or greater than 10
    if (isNaN(x) || x < 1 || x > 10) {
        text = 3;
    } else {
       for( i=0; i<grades.length; i++){
         if( grades[i] <= 100 && grades[i]>= 95){
           a_1++;
         }
         if(grades[i] < 95 && grades[i]>= 90){
           a_2++;
         }
         if(grades[i] < 90 && grades[i]>= 85){
           a_3++;
         }if(grades[i] < 85 && grades[i]>= 80){
           b_1++;
         }if(grades[i] < 80 && grades[i]>= 75){
           b_2++;
         }if(grades[i] < 75 && grades[i]>= 70){
           b_3++;
         }if(grades[i] < 70 && grades[i]>= 65){
           c_1++;
         }if(grades[i] < 65 && grades[i]>= 60){
           c_2++;
         }if(grades[i] < 60 && grades[i]>= 55){
           c_3++;
         }if(grades[i] < 55 && grades[i]>= 50){
           d++;
         }if(grades[i] < 50 && grades[i]>= 0){
           f++;
         }
    }


  }
    document.getElementById("A+").innerHTML = a_1;
    document.getElementById("A").innerHTML = a_2;
    document.getElementById("A-").innerHTML = a_3;
    document.getElementById("B+").innerHTML = b_1;
    document.getElementById("B").innerHTML = b_2;
    document.getElementById("B-").innerHTML = b_3;
    document.getElementById("C+").innerHTML = c_1;
    document.getElementById("C").innerHTML = c_2;
    document.getElementById("C-").innerHTML = c_3;
    document.getElementById("D").innerHTML = d;
    document.getElementById("F").innerHTML = f;



}
</script>
